# Explore here

In [2]:
# Your code here
import pandas as pd

url = "https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv"

data = pd.read_csv(url)

data.head()

  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
print(f"{data.shape}")

print(f"Columns: {data.columns}")

print(data.info())

print(f"Missing data: {data.isnull().sum()}")

print(data.head())

(41188, 1)
Columns: Index(['age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                        --------------  -----
 0   age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"  41188 non-null  object
dtypes: object(1)
memory usage: 321.9+ KB
None
Missing data: age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"    0
dtype: int64
  age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0  56;"housemaid";"married";"basic.4y";"no";"no";...
1  57;"services";"married";"high.school";"unknown...
2  37;"services";"married";"high.school";"no";"ye...
3  40;"admin.";"married";"basic.6y";"no";"no";"no...
4  56;"services";"married";"high.school";"no";"no...

In [9]:
print(data.describe())

       age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
count                                               41188
unique                                              41176
top     36;"retired";"married";"unknown";"no";"no";"no...
freq                                                    2

In [11]:
for col in data.select_dtypes(include='object').columns:
    print(f"\nValue counts for {col}:")
    print(data[col].value_counts())

Value counts for age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y":
age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
36;"retired";"married";"unknown";"no";"no";"no";"telephone";"jul";"thu";88;1;999;0;"nonexistent";1.4;93.918;-42.7;4.966;5228.1;"no"                   2
45;"admin.";"married";"university.degree";"no";"no";"no";"cellular";"jul";"thu";252;1;999;0;"nonexistent";-2.9;92.469;-33.6;1.072;5076.2;"yes"        2
71;"retired";"single";"university.degree";"no";"no";"no";"telephone";"oct";"tue";120;1;999;0;"nonexistent";-3.4;92.431;-26.9;0.742;5017.5;"no"        2
55;"services";"married";"high.school";"unknown";"no";"no";"cellular";"aug";"mon";33;1;999;0;"nonexistent";1.4;93.444;-36.1;4.965;5228.1;"no"          2
32;"technician";"single";"professional.course";"no";"yes";"no";"cellular";"jul";"thu";128;1;999;0;"nonexistent";1.4;93.918;-42.7;4.968;5228.1;"no"    2
                                                                                                                                                     ..
32;"blue-collar";"married";"basic.4y";"unknown";"no";"no";"cellular";"jul";"thu";360;17;999;0;"nonexistent";1.4;93.918;-42.7;4.963;5228.1;"no"        1
32;"unknown";"single";"professional.course";"no";"no";"no";"telephone";"jul";"thu";96;1;999;0;"nonexistent";1.4;93.918;-42.7;4.963;5228.1;"no"        1
22;"blue-collar";"single";"basic.9y";"no";"yes";"no";"telephone";"jul";"thu";227;7;999;0;"nonexistent";1.4;93.918;-42.7;4.963;5228.1;"no"             1
40;"blue-collar";"married";"basic.4y";"unknown";"no";"no";"cellular";"jul";"thu";724;1;999;0;"nonexistent";1.4;93.918;-42.7;4.963;5228.1;"yes"        1
28;"admin.";"single";"university.degree";"no";"yes";"no";"telephone";"jul";"thu";310;2;999;0;"nonexistent";1.4;93.918;-42.7;4.963;5228.1;"no"         1
Name: count, Length: 41176, dtype: int64

In [27]:
for col in data.select_dtypes(include=np.number).columns:
    plt.figure(figsize=(8, 4))  # Set figure size
    sns.boxplot(x=data[col])  # Create boxplot for each numeric column
    plt.title(f'Boxplot of {col}')  # Title of the plot
    plt.tight_layout()  # Adjust layout to prevent overlap
    plt.show()  # Display the plot

In [25]:
sns.boxplot(x=data['duration'])  
plt.title('Boxplot of duration')
plt.show()

KeyError: 'duration'